div(class='container')
	div(class='col-sm-12')
		table(class='table table-striped')
			thead
				tr
					th Title
					th Nick
					th Tags
					th Actions
			tbody
				tr(ng-repeat='article in articles')		
					td
						a(ng-click='goToArticle(article._id)')
							{{ article.title }}
					td
						{{ article.nick }}
					td(class='tags')
						{{ article.tags }}
					td
						img(class='sg-icon' src='img/delete.png', ng-click='deleteArticle(article._id)') 